body {
    font-family: Arial, sans-serif;
    background-color: #0012ff61;
    display: flex;
    justify-content: center;
    padding: 50px;
}


.persona-card {
    background: #6f738ba6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.405);
    max-width: 600px;
    text-align: center;
}


img {
    width: 250px;
    height: 150px;
    border-radius: 50%; /* Makes image circular */
    object-fit: cover; /* Prevents image stretching */
}


.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
    padding: 0 20px;
}


.column {
    width: 45%;
}


/* Add your own colors below based on your Vibe! */
h1 { color: #085afd;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #4000ce;}
h3 { color: #41a6fc;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: #4000ce;
    border-bottom: 2px solid #8987ff; }
